{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6 text-center">
            <h3>{{ basic_info.name }} - Course Information</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Holes: {{ basic_info.holes }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Municipality: {{ location_info.municipality }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Address: {{ location_info.address }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Distance from Central Helsinki: {{ location_info.distance }} km
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Drive time from Central Helsinki: {{ location_info.drive_time }} minutes
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            Website: <a href="{{ basic_info.link }}">{{ basic_info.link }}</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>Green fees</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <ul>
            {% for price in price_info %}
                <li class="col-auto">{{ price.key  }}: {{price.value }} €
                    {% if role == 1 %}
                        <form action="/courses/{{ course }}/prices/{{ price.id }}" method="POST">
                            <button type="submit" class="btn btn-custom btn-small">Delete</button>
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <form action="/courses/{{ course }}/reviews" method="GET">
                <button type="submit" class="btn btn-custom btn-form">See and Write Reviews</button>
            </form>
        </div>
    </div>
    <br>
    {% if role == 1 %}
    <br>
    <hr>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto error">
            {{ error }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h4>Update the Information</h4><br>
            <form action="/courses/{{ course }}" method="POST">
                <div class="form-row">
                    <div class="form-group col-auto">
                        <label for="name">The name of the course:</label><br>
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-auto">
                        <label for="holes">Number of holes:</label><br>
                        <input type="text" name="holes">
                    </div>
                    <div class="form-group col-auto">
                        <label for="link">Link to the website:</label><br>
                        <input type="text" name="link">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-auto">
                        <label for="address">The address of the course:</label><br>
                        <input type="text" name="address">
                    </div>
                    <div class="form-group col-auto">
                        <label for="municipality">Municipality:</label><br>
                        <input type="text" name="municipality">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-auto"> 
                        <label for="lat">Latitude:</label><br>
                        <input type="text" name="lat">
                    </div>
                    <div class="form-group col-auto">
                        <label for="lon">Longitude:</label><br>
                        <input type="text" name="lon">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-auto">
                        <label for="distance">Distance from Helsinki:</label><br>
                        <input type="text" name="distance">
                    </div>
                    <div class="form-group col-auto">
                        <label for="drive_time">Drivetime from Helsinki:</label><br>
                        <input type="text" name="drive_time">
                    </div>
                </div>
                <button type="submit" class="btn btn-custom btn-form">Submit</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    <br>
    <div class="form-row justify-content-center">
        <div class="col-auto">
            <h4>Add a new Green fee</h4>
            <em>If you want the green fee to show in the golf courses table,<br>
            set the name as "Green fee" (case-sensitive).</em><br>
            </p>
            <form action="/courses/{{ course }}/prices" method="POST">
                <div class="form-group col-auto">
                    <label for="name">Name:</label><br>
                    <input type="text" class="custom-form" name="name">
                </div>
                <div class="form-group col-auto">
                    <label for="price">Price (integer, in euros):</label><br>
                    <input type="text" class="custom-form" name="price">
                </div>
                <button type="submit" class="btn btn-custom btn-form">Submit</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>  
    </div>
    <br>
    {% endif %}
{% endblock content %}