{% extends "layout.html" %}
{% block content %}
    <h2>{{ basic_info.name }} - Course Information</h2>
    <div><b>Address:</b> {{ location_info.address }}, {{ location_info.municipality }}</div>
    <div><b>Holes:</b> {{ basic_info.holes }}</div>
    <div><b>Distance from Central Helsinki:</b> {{ location_info.distance }} km</div>
    <div><b>Drive time from Central Helsinki:</b> {{ location_info.drive_time }} minutes</div>
    <div><b>Website:</b> <a href="{{ basic_info.link }}">{{ basic_info.link }}</a></div>
    <h3>Green fees</h3>
    <ul>
    {% for price in price_info %}
        <li>{{ price.key  }}: {{price.value }}
            {% if role == 1 %}
                <form action="/courses/{{ course }}/prices/{{ price.id }}" method="POST">
                    <button type="submit">Delete</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <p><a href="/courses">Back to all courses.</a></p>
    {% if role == 1 %}
    <hr>
        <form action="/courses/{{ course }}/prices" method="POST">
            <fieldset>
                <legend>Add a new Green fee</legend>
                <label for="name">Name: </label>
                <input type="text" name="name"><br><br>
                <label for="price">Price: </label>
                <input type="text" name="price"><br><br>
                <input type="submit" value="Submit">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </fieldset>
        </form>
    {% endif %}
{% endblock content %}