{% extends "layout.html" %}
{% block content %}
    <h2>Golf Courses in Uusimaa, Finland</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Distance from Helsinki</th>
                <th>Greenfee</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.distance }}</td>
                    <td>{{ course.greenfee }}</td>
                    <td>
                        <form action="/courses/{{ course.id }}" method="POST">
                            <button type="submit">More Information</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="/">Back to front page.</a></p>
{% endblock content %}