<h1>Golf Courses in Uusimaa, Finland</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>Golf Course</td>
                <td><button class="info_btn">More Information</button></td>
            </tr>
        {% endfor %}
        <tr>
            <td>Value</td>
            <td>Value2</td>
        </tr>
    </tbody>
</table>

<p><a href="/">Back to front page.</a></p>