{% extends "layout.html" %}
{% block content %}
    <h2>Golf Courses in Uusimaa, Finland</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Distance from Helsinki</th>
                <th>Greenfee</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.distance }}</td>
                    <td>{{ course.greenfee }}</td>
                    <td>
                        <form action="/courses/{{ course.id }}" method="POST">
                            <button type="submit">More Information</button>
                        </form>
                    </td>
                    {% if role == 1 %}
                    <td>
                        <form action="/courses/{{ course.id }}" method="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="/">Back to front page.</a></p>
{% endblock content %}
{% block admin %}
{% if role == 1 %}
<hr>
<p>{{ error }}</p>
<h3>Add a Golf Course</h3>
<form action="/courses" method="POST">
    <fieldset>
        <legend>Basic Information</legend>
        <label for="name">The name of the course: </label>
        <input type="text" name="name"><br><br>
        <label for="holes">Number of holes: </label>
        <input type="text" name="holes"><br><br>
        <label for="link">Link to the website: </label>
        <input type="text" name="link"><br><br>
        <label for="address">The address of the course: </label>
        <input type="text" name="address"><br><br>
        <label for="lat">Latitude: </label>
        <input type="text" name="lat"><br><br>
        <label for="lon">Longitude: </label>
        <input type="text" name="lon"><br><br>
        <label for="municipality">Municipality: </label>
        <input type="text" name="municipality"><br><br>
        <label for="distance">Distance from Helsinki: </label>
        <input type="text" name="distance"><br><br>
        <label for="drive_time">Time to drive from Helsinki: </label>
        <input type="text" name="drive_time"><br><br>
        <input type="submit" value="Submit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </fieldset>
</form>
{% endif %}
{% endblock admin %}