{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6 text-center">
            <h3>Welcome to the Golf Course App</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            With this golf course app you can view all the golf courses and their information in Uusimaa, Finland. You can for example sort the golf courses by their Green fees or the distance from the Central Helsinki.
        </div>
    </div>
    <br>
    {% if session.username %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <form action="/courses" method="GET">
                <button type="submit" class="btn btn-custom btn-form">Golf courses in Uusimaa, Finland</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-md-center">
        <div class="col-md-6 text-center">
            Please log in to your account or create a new account to use the application.
        </div>
    </div>
    <br>    
    <div class="row justify-content-center">
        <div class="col-auto">
            <form action="/login" method="GET">
                <button type="submit" class="btn btn-custom">Log in</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/signup" method="GET">
                    <button type="submit" class="btn btn-custom">Sign up</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock content %}