{% extends "layout.html" %}
{% block content %}
    {% if session.username %}
    <div class="row">
        <div class="col-8">
            Welcome to the Golf Course App!<br>
            <a href="/courses">See All Golf Courses in Uusimaa.</a>
        </div>
        <div class="col-4">
            You are logged in as {{ session.username }}<br>
            <a href="/logout">Logout</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div>
            <p>Please log in to your account or create a new account to use the application.</p>
            <p><a href="/login">Log in to your account</a></p>
            <p><a href="/signup">No account yet? Go to signup.</a></p>
        </div>
    </div>
    {% endif %}
{% endblock content %}