{% extends "layout.html" %}
{% block content %}
    <h2>Log in</h2>
    <div class="error">{{ error }}</div>
    <form action="/login" method="POST">
        <div class="form-group col-6">
            Username:<br>
            <input type="text" name="username" size="15" minlength="3" maxlength="15"><br>
        </div>
        <div class="form-group col-6">
            Password:<br>
            <input type="password" name="password" size="15" minlength="3" maxlength="15"><br>
        </div>
        <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <p><a href="/signup">No account yet? Go to signup.</a></p>
    <p><a href="/">Back to front page.</a></p>
{% endblock content %}