{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>{{ name }} - Reviews</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <h4>Reviews from Other Users</h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>Write Your Review</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br>
            {% if reviews|length == 0 %}
                <hr>
                <div class="text-center">
                    <em>No reviews added for the course</em>
                </div>
            {% else %}
                <h6 class="text-center">
                    Average rating: {{ average }}
                </h6>
                <br>
                <hr>
                {% for review in reviews %}
                    <div>
                        Comment:<br>
                        {% if review.comment.rstrip() == "" %}
                        <em>The user left no comment.</em>
                        {% else %}
                        {{ review.comment }}
                        {% endif %}
                        <br>
                        <br>
                        Rating: {{ review.rating }}/10
                        {% if role == 1 %}
                        <div class="text-right">
                            <form action="/courses/{{ course }}/reviews/{{ review.id }}" method="POST">
                                <button type="submit" class="btn btn-custom btn-small">Delete</button>
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        </div>
                        {% else %}
                            <br>
                            <br>
                        {% endif %}
                        <div class="timestamp">
                            <em>
                                Sent at: {{ review.sent_at.date() }}
                            </em>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="success">{{ message }}</div>
            <div class="error">{{ error }}</div>
            <form action="/courses/{{ course }}/reviews" method="POST">
                <div class="form-group col-auto">
                    Comment<br>
                    <textarea class="form-control custom-textarea" id="commentReview" name="comment" rows="3"></textarea><br>
                </div>
                <div class="form-group col-auto">
                    Rating<br>
                    <input type="range" name="rating" class="form-control-range" id="formControlRange" min="1" max="10" step="1" onchange="updateReview(this.value);">
                    Current rating: <output type="text" id="reviewInput" value="" class="center">6</output>
                </div>
                <script>
                    const updateReview = (value) => {
                        document.getElementById("reviewInput").value = value;
                    }
                </script>
                <div class="form-group col-auto">
                    <button type="submit" class="btn btn-custom btn-form">Submit</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </div>
            </form>
            <br>
            <div class="text-center">
                <a href="/courses/{{ course }}">Back to Course Information</a>
            </div>
        </div>
    </div>
{% endblock content %}