{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Sign up</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center success">
            {{ success }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center error">
            {{ error }}
        </div>
    </div>
    <div class="row justify-content-center">
        <form action="/signup" method="POST">
            <div class="form-group col-auto">
                Username:<br>
                <input type="text" class="custom-form" name="username" size="15" minlength="3" maxlength="15"><br>
            </div>
            <div class="form-group col-auto">
                Password:<br>
                <input type="password" class="custom-form" name="password" size="15" minlength="3" maxlength="15"><br>
            </div>
            <div class="form-group col-auto">
                Password again:<br>
                <input type="password" class="custom-form" name="password2" size="15" minlength="3" maxlength="15"><br>
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-custom btn-form">Signup</button>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/login">Already an account? Go to login.</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/">Back to Home page.</a>
        </div>
    </div>
{% endblock content %}