p, div {
    font-family: 'Signika', Georgia, sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h3 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 24px;
    color: white;
}

body {
    background-color: #1A1A1D;
}

hr {
    background-color: white;
    margin-top: 0px;
}

.btn-custom {
    background-color: #3500D3;
    color: white;
    border-radius: 500px;
    width: 180px;
    height: 50px
}

.btn-custom:hover {
    background-color: #3500F9;
    color: white;
}

.btn-form {
    width: 360px;
    height: 40px;
}

.btn-small {
    height: 40px;
    width: 80px;
}

.custom-form {
    width: 360px;
    height: 40px;
}

.long-form {
    width: 360px;
}

.error {
    color: #BB3434;
}

.success {
    color: green;
}

.table {
    background-color: #1A1A1D;
}

.custom-textarea {
    width: 510px;
}